<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/icon/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="../static/css/homepage.css">
    <link rel="stylesheet" href="../static/css/photo.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>-->
    <link rel="stylesheet" href="../static/css/animate.css/animate.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../static/jq/jquery-3.5.1.min.js"></script>
    <script src="../static/js/aos.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <title>Title</title>
</head>
<body>
    <div class="loading">
        Loading...
    </div>
    <section id="topbar">
        <nav id="header" class="navbar-nav navbar-fixed-top">
            <div class="container">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">

                        <a href="#" class="col-lg-6 col-md-6 col-sm-6 col-xs-4 ">
                            <form action="/login" class="tologin" method="post">
                                <div onclick="document.getElementsByClassName('tologin')[0].submit()"> 登录/注册</div>
                            </form>
                        </a>

                        <a href="#" class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
                            <div>logo</div>
                        </a>
                    </div>
                    <div class="face"></div>
                    <div class="navbar-toggle col-xs-1">
                        <span class="icon-bar color-white"></span>
                        <span class="icon-bar color-white"></span>
                        <span class="icon-bar color-white"></span>
                    </div>
                    <div id="menu" class="sidebar animate__animated col-lg-8 col-md-8 col-sm-8">
                        <ul class="sidebar-ul">
                            <a href="#homepage"
                               class="col-lg-1 col-md-1 col-sm-1 col-lg-offset-8 col-md-offset-8 col-sm-offset-8">主页</a>
                            <a href="#about" class="col-lg-1 col-md-1 col-sm-1">关于</a>
                            <a href="#photo" class="col-lg-1 col-md-1 col-sm-1">照片</a>
                            <a href="" class="col-lg-1 col-md-1 col-sm-1">作品</a>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    <section id="homepage">
        <div class="bg"></div>
        <div class="homepage-face">
        </div>
        <div class="content">
            <h2 data-aos="fade-up">目录</h2>
            <h3 data-aos="fade-up" data-aos-delay="200">特别鸣谢刘喆嘉提供的摄影作品</h3>
            <ul>
                <a href="#homepage" data-aos="fade-up" data-aos-delay="400">
                    <li>首&nbsp&nbsp&nbsp页</li>
                </a>
                <a href="#about" data-aos="fade-up" data-aos-delay="600">
                    <li>关&nbsp&nbsp&nbsp于</li>
                </a>
                <a href="#photo" data-aos="fade-up" data-aos-delay="800">
                    <li>作&nbsp&nbsp&nbsp品</li>
                </a>
                <a href="" data-aos="fade-up" data-aos-delay="1000">
                    <li>照&nbsp&nbsp&nbsp片</li>
                </a>
            </ul>
        </div>
        <a class="fa fa-angle-down" aria-hidden="true" href="#about"></a>
    </section>
    <section id="about">
        <div class="container about-container">
            <p class="p-head" data-aos="zoom-in" data-aos-anchor="#about">关于本网站</p>
            <p class="p-line" data-aos="zoom-in" data-aos-anchor="#about"></p>
            <p data-aos="zoom-in" data-aos-anchor="#about" class="about-p">火花来自于<a
                    href="https://www.maorx.cn/">Maorx</a>
            </p>
            <p data-aos="zoom-in" data-aos-anchor="#about" class="about-p">开始从硬件转软件</p>
            <p data-aos="zoom-in" data-aos-anchor="#about" class="about-p">于是第一版效仿了其设计</p>
            <p data-aos="zoom-in" data-aos-anchor="#about" class="about-p">在此表达感谢</p>
            <p class="p-head" data-aos="zoom-in" data-aos-anchor="#about">关于我</p>
            <p class="p-line" data-aos="zoom-in" data-aos-anchor="#about"></p>
            <p class="p-icon" data-aos="zoom-in" data-aos-anchor="#about">
                <i class="fa fa-map-marker" aria-hidden="true" title="重庆市万盛区" data-aos="zoom-in"></i>
                <i class="fa fa-qq" aria-hidden="true" title="965598930" data-aos="zoom-in"></i>
                <i class="fa fa-envelope" aria-hidden="true" title="965598930@qq.com" data-aos="zoom-in"></i>
            </p>
            <p data-aos="zoom-in" data-aos-anchor="#about" class="about-p">我是佘远航</p>
            <p data-aos="zoom-in" data-aos-anchor="#about" class="about-p">出生于2000年11月23日</p>
            <p data-aos="zoom-in" data-aos-anchor="#about" class="about-p">毕业于重庆第二外国语学校</p>
            <p data-aos="zoom-in" data-aos-anchor="#about" class="about-p">现就读于重庆邮电大学</p>
            <p data-aos="zoom-in" data-aos-anchor="#about" class="about-p">喜欢旅行，各种运动</p>
            <p data-aos="zoom-in" data-aos-anchor="#about" class="about-p">总梦想着后半生能得清闲</p>
            <p data-aos="zoom-in" data-aos-anchor="#about" class="about-p">很高兴与你相遇</p>
        </div>
    </section>
    <section id="photo">
        <div class="container">
            <div class="page-header">
                <h2 data-aos="fade-up">作品</h2>
                <p data-aos="fade-up" data-aos-delay="200">一些经历</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <form action="/music" class="tomusic" method="post">
                    <div class="thumbnail" onclick="document.getElementsByClassName('tomusic')[0].submit()"
                         data-aos="fade-up" data-aos-delay="400">
                        <img src="../static/images/music.jpg" alt="">
                        <div class="caption">
                            <p class="photo-title">
                                网页音乐播放器
                            </p>
                            <p class="photo-intro">
                                网页在线播放器，简单运用了Vue以及axios
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="thumbnail" data-aos="fade-up" data-aos-delay="600">
                    <img src="../static/images/Power_meter.jpg" alt="">
                    <div class="caption">
                        <p class="photo-title">
                            功率计
                        </p>
                        <p class="photo-intro">
                            第一个STM32项目
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer">
            <div class="container">
                <div class="copyright">
                    © Copyright <strong><span>S_y_h</span></strong>. All Rights Reserved
                </div>
            </div>
        </div>
    </footer>

<span id="busuanzi_container_site_uv" class="busuanzi animate__animated animate__fadeInDown ">访问量:<span
        id="busuanzi_value_site_uv"></span></span>
</body>
<script src="../static/js/index.js"></script>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</html>
